/*          Generel Styles          */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    line-height: 1.7em;
    line-break: 1.5em;
    max-width: 100vw;
}
h1, h2, h3, h4 {
    margin: 1em 0 1em 0;
}
/* Font-sizes for mobile screens */
h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

header { grid-area: hd; }
nav { grid-area: nav; }
#aboutMeSection { grid-area: aboutMeSection; }
#skillsSection { grid-area: skillsSection; }
#portfolioSection { grid-area: portfolioSection; }
#whatIBringSectionn { grid-area: whatIBringSection; }
#testimonialSection { grid-area: testimonialSection; }
#contactSection { grid-area: contactSection; }
footer { grid-area: ft; }

    .grid {
        display: grid;
    grid-template-areas:
        "hd"
        "nav"
        "aboutMeSection"
        "skillsSection"
        "portfolioSection"
        "whatIBringSection"
        "testimonialSection"
        "contactSection"
        "ft";
    }
/* Font-sizes for screens over 800px */
@media all and (min-width: 800px) {
    body, h2, h3, h4 {
        font-size: 1.3em;
    }
    h1 {
        font-size: 2em;
    }
}
/* Font-sizes for screens over 900px */
@media all and (min-width: 900px) {
    h1 {
        font-size: 2.5em;
    }
}

/* Sections */
section {
    padding: 3rem;
    max-width: 100vw;
}
.coloredSection {
    background: rgb(16,128,122);
    background: linear-gradient(90deg, rgba(16,128,122,1) 3%, rgba(151,201,198,1) 50%, rgba(16,128,122,1) 98%);    
    color: white;
    text-align: right;
    
} 
.coloredSection a, .coloredSection a:visited, .coloredSection a:-webkit-any-link  {
    color: white;
    text-decoration: none;
} 
.coloredSection a:hover, .coloredSection li:hover {
    text-decoration: underline;
}
.whiteSection {
    background-color: white;
    color: rgb(16,128,122);
    
} 
.whiteSection a:visited, .whiteSection a:-webkit-any-link {
    color: rgb(16,128,122);
} 
@media all and (min-width: 700px) {
    .coloredSection {
        padding-left: 6em;
    }
    .whiteSection {
        padding-right: 6em;
    }
}
img {
    max-width: 100%;
}

/*          Header          */

header {
    height: 90vh;
    background-image: url("../images/SmartPhone.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.headers {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 1em;
}
header .headers h1 {
    color: rgba(16,128,122,1);
    font-weight: bold;
    font-size: 1.8em;
    /* background-color: rgba(255, 255, 255, 0.5); */
    text-shadow: 3px 3px 3px gray;

}
header .headers h2 {
    color: rgba(16,128,122,1);
    font-weight: bold;
    font-size: 1.6em;
    /* background-color: rgba(255, 255, 255, 0.5); */
    text-decoration: none;
    text-shadow: 3px 3px 3px gray;
}

@media all and (min-width: 800px) {
    header {
        background-image: url("../images/1277x743_Laptop.webp");
        background-position-x: 0;
        background-position-y: 0;
    }
    header .headers h1, header .headers h2 {
        margin: 0.2em auto;
    }
}

/*          Navigation          */

#navbar {
    max-width: 100vw;
    padding: 1em 0;
    position: sticky;
    top: 0px;
    border-bottom: 8px solid white;
    text-align: center;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(16,128,122,1) 3%, rgba(151,201,198,1) 50%, rgba(16,128,122,1) 98%);    

  }
  
  #navbar li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  #navbar li a:hover,
  #navbar .menu-btn:hover {
    background: linear-gradient(90deg, rgb(179, 223, 220) 3%, rgb(191, 219, 217) 50%, rgba(179, 223, 220) 98%);    
    border-radius: 10px;
  }
  
/* menu */

#navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  #navbar .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  #navbar .menu-icon .nav-icon {
    background: #fff;
    border-radius: 10px;
    display: block;
    height: 6px;
    position: relative;
    transition: background .2s ease-out;
    width: 40px;
  }
  
  #navbar .menu-icon .nav-icon:before,
  #navbar .menu-icon .nav-icon:after {
    background: #fff;
    border-radius: 10px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  #navbar .menu-icon .nav-icon:before {
    top: 10px;
  }
  
  #navbar .menu-icon .nav-icon:after {
    top: -10px;
  }
  
  /* menu btn */
  
  #navbar .menu-btn {
    display: none;
  }
  
  #navbar .menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  
  #navbar .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  #navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
  
  #navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  
  
/* 48em = 768px @ 16pt font */

@media (min-width: 63em) {

    .menu {
        border: 2px, solid, yellow;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    #navbar li {
      display: inline-block;
    }
    #navbar li a {
      padding: 20px 30px;
    }
    #navbar .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    #navbar .menu-icon {
      display: none;
    }
  }
  




/*          About Me Section            */
#jumpDesktop {
    display: none;
}

#aboutMeSection {
    display: flex;
    flex-direction: column;
}
#jumpMobile h2, #jumpDesktop h2 {
    font-family: 'Caveat', cursive;
    text-decoration: none;
    color: white;
    padding-left: 1em;
    
}


#jumpMobile {
    background-image: url("../images/jump.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    margin: 1em auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1em 0;

}

@media all and (min-width: 800px) {
    #jumpMobile {
        display: none;
    }
    #jumpDesktop {
        background-image: url("../images/jump.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        /* width: 92vw; */
        height: 60vh;
        /* margin: 1em auto; */
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
}
/*          Skills Section          */

.codeLanguages {
    font-weight: bolder;
    font-size: 1.2em;
}

/*          Portfolio Section           */



.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    
}
.port-grid-1 {
    grid-column: 1 / -1;
    width: 100%;
    border: 5px solid rgb(16,128,122);
    border-radius: 8px;

}
.portfolioButton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn-portfolio {
    margin-top: 0.3em;
    padding: 0.5em;
    color: rgb(16,128,122);
    border: 3px solid rgb(16,128,122);
    border-radius: 8px;
    background-color: white;
    font-size: 1em;
    text-decoration: none;
    max-height: 3em;
}
.btn-portfolio a, .btn-portfolio a:-webkit-any-link {
    display: block;
    margin: 0.3em;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
} 
.btn-portfolio a:hover {
    background-color: rgb(179, 223, 220);
    color: rgba(255, 255, 255, 1);

}

@media all and (min-width: 700px) {
    #portfolioSection {
        padding-right: 3em;
    }
    .portfolioText {
        padding-right: 25%;
    }
    
}

/*          Testimonials Section            */

.testimonials {
    margin-bottom: 2em;
}
.testimonials img {
    float: right;
    border-radius: 50%;
}

#whatIBringSection h2 {
    line-height: 1.5em;
}

.linkedIn {
    border: 5px solid rgb(16,128,122);
    border-radius: 8px;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
